<div class="app-main-views-wrapper">
      <div class="app-view-header-wrapper">
        <div class="status-bar-placeholder"></div>
        <div class="header-button-wrapper"><a routerLink="/sign-in" class="buttons logout w-inline-block"></a>
          <div class="logo-text">msg</div><a routerLink="" class="buttons back _2 w-inline-block"></a></div>
        <div class="stack-wrapper">
          <div class="stack-1"></div>
          <div class="stack-2"></div>
        </div>
      </div>
      <div class="app-view-body">
        <div class="message-list-wrapper">
          <div class="pin-section-wrapper">
            <div class="pin-wrapper">
              <div class="pin-title">Hyaad decossard</div>
              <div class="pin-text">1b3e6t8y9b7f</div>
            </div>
            <div class="pin-option-wrapper">
              <div class="change-pin"></div>
              <div class="copy-pin"></div>
            </div>
          </div>
          <div class="section-wrapper more">
            <div class="section-title">Add connect</div>
            <div class="w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form">
                <div class="field-plus-wrapper pin-section"><input type="text" class="sign-in-field pin w-input" maxlength="256" name="pin-number" data-name="pin number" placeholder="pin number" id="pin-number" required="">
                  <div class="add-friend"></div>
                </div>
                <div class="notice green">
                  <div class="small-icon notice-icon"></div>
                  <div>connection requested</div>
                </div>
                <div class="notice">
                  <div class="small-icon notice-icon"></div>
                  <div>pin no longer exist</div>
                </div>
                <div class="notice">
                  <div class="small-icon notice-icon"></div>
                  <div>pin does not exist</div>
                </div>
              </form>
            </div>
          </div>
          <div class="section-wrapper more">
            <div class="section-title">Privacy policy</div>
            <p class="terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
          <div class="section-wrapper more">
            <div class="section-title">Terms of service</div>
            <p class="terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div>
      </div>
    </div>