  <div class="app-secondary-views">
      <div class="secondary-view-footer">
        <div class="search-wrapper w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="search-form"><input type="text" class="search-input w-input" maxlength="256" autofocus="true" name="search" data-name="search" placeholder="Search" id="search"></form>
        </div><a routerLink="" class="buttons dark close filled w-inline-block"></a></div>
    </div>
    <div class="secondary-view-body">
      <div class="message-list-wrapper">
        <div class="section-wrapper">
          <div class="section-title">Search results</div>
          <ul class="message-list w-list-unstyled">
            <li class="list-item">
              <div class="contact-thumbnail">
                <div class="icon-n-name-wrapper">
                  <div class="icon contact"></div>
                  <div class="name-and-time-wrapper">
                    <div class="name-text">Hyaad Decossard</div>
                    <div class="time-text">Tap to message</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>